/* Styling for the back and add button at top of page */
.navigation {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 4px;
  padding-left: 5%;
}

.App-header {
  position: fixed;
  width: 100%;
  height: 20px;
  background-color: var(--vscode-sideBar-background);
  padding-bottom: 4px;
  z-index: 1; /* Stay in front of other elements */
}

.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 20px;
}

.back-button {
  padding-left: 5px;
}

/* Styles the logo/welcome at the top of the page */
.top-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 4px;
}

.top-font {
  font-weight: bold;
  padding-left: 10px;
}

.App-logo {
  height: 60px;
}

.welcome-message {
  text-align: center;
}

/* Styles the text and content below the nav bar */
.App-body {
  font-size: calc(8px + 2vmin);
  /* Vertical offset of the body to render below the navbar.
     Also ensures that the edges of body content (e.g., the user icon)
     don't peek out from the edges of the navbar
  */
  padding: 24px 1px;
}

/* Chat Bar Styling Below */
/* styles the box around the chat bar not including the buttons below */
.chat-box {
  padding-left: 5%;
  padding-right: 5%;
  min-height: 9vh;
}

.chat-bar {
  background-color: #717171;
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 60px;
  padding: 8px 8px;
}

.chat-bar input {
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  padding: 5px;
  color: #aaaaaa;
  width: 80%;
}

::placeholder {
  color: #aaaaaa;
}

/* Message Styling Below */
.message {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 0.9rem;
}

.role-name {
  font-weight: bold;
  padding-right: 10px;
}

.message-blocks {
  padding-top: 2.5px 0;
}

.text-block-container {
  position: relative;
  padding: 3px 0;
}

.message-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.code-block-container {
  border: solid 1px;
  border-color: var(--vscode-menu-border);
  margin: 5px 0;
}

.code-button-container {
  border: solid 1px;
  border-color: var(--vscode-menu-border);
  display: flex;
  justify-content: flex-end;
}

.text-block-delete-button {
  position: absolute;
  right: 0;
  top: 0;
}

/* Styling for the the conversation list page */
.convo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.convo-id {
  padding-right: 20px;
  cursor: pointer;
  padding-top: 10px;
}

.delete-all {
  display: flex;
  justify-content: center;
  padding-bottom: 4px;
}
